<!-- <div class="education"> -->
  <div  class="education-item row" *ngFor="let education of educationList">
    <div class="col-12 text">
      <h6>{{education.institute}}</h6>
      <p>{{education.certificationName}}</p>
    </div>
    <a class="col-12" *ngIf="education.downloadLink"> {{education.downloadLink}}</a>
  </div>
<!-- </div> -->
