@import '../../styles.scss';

.education {
  margin: 20px;
  color: $white;
}
h6 {
  margin-bottom: 2px;
  font-size: 10px;
}
p {
  font-size: 9px;
}
.education-item {
  text-align: center;
  padding: 0;
  margin: 0;
  img {
    height: 20px;
    width: 30px;
    border-radius: 15px;
    padding: 0;
    margin-right: 5px;
  }
}
.image {
  padding: 0;
}
.text {
 text-align: left;
}
