@import '../../styles.scss';

ul {
  text-align: justify;
  position: relative;
  overflow: hidden;
  padding: 0;
}
ul:before, .active:after {
  content: '';
  width: 100%;
  border: 2px solid $primary;
  position: absolute;
  top: 1em;
  margin-top: -2px;
}
ul:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.text {
  color: black;
  margin: 10px;
}
li {
  width: 185px;
  height: 100px;
  display: inline-block;
  color: $white;
  text-align: -webkit-center;
}
.circle {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
  background: $primary;
  margin: 0 1em;
}
