<div class="background">
  <app-loading *ngIf="loading"></app-loading>
  <app-background-animation></app-background-animation>
  <div class="container">
    <app-bubble-chart [skills]="skills"></app-bubble-chart>
  </div>
</div>
