@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-BoldItalic.woff2') format('woff2'),
        url('ComicNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-LightItalic.woff2') format('woff2'),
        url('ComicNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-Italic.woff2') format('woff2'),
        url('ComicNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-Bold.woff2') format('woff2'),
        url('ComicNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-Light.woff2') format('woff2'),
        url('ComicNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('ComicNeue-Regular.woff2') format('woff2'),
        url('ComicNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

