@import '../../styles.scss';

.experience {
    margin: 10px 0;
    img {
      height: 30px;
    }
}

.background {
  background: url(~/assets/images/176937.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 20px 40px;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  padding: 10px;
}

.background::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: $secondary;
  direction: rtl;
}

.background::-webkit-scrollbar
{
	width: 12px;
  background-color: $secondary;
  direction: rtl;
}

.background::-webkit-scrollbar-thumb
{
  direction: rtl;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: $tertiary;
}

.large {
  font-size: 25px;
}
.position {
  background-color: $tertiary;
  padding: 10px;
}