<div class="background">
  <app-loading *ngIf="loading"></app-loading>
  <div class="experience" *ngFor="let experience of experienceList" >
    <div class="header" (click)="experience.collapsed = !experience.collapsed">
      <fa-icon class="large" *ngIf="!experience.collapsed" [icon]="faAngleDown"></fa-icon>
      <fa-icon class="large" *ngIf="experience.collapsed"  [icon]="faAngleUp"></fa-icon>
      <img [src]="experience.image" />
      <p><fa-icon [icon]="faCalendar"></fa-icon> From {{getDate(experience.dateFrom) | date: 'MMM-yyyy'}} to {{ getDateTo(experience.dateTo) }}</p>
    </div>
    <hr>
    <div id="collapseBasic" [collapse]="!experience.collapsed">
      <div class="card card-block position">
        <h3>{{experience.position}}</h3>
        <p>{{experience.description}}</p>
      </div>
      <div class="well well-lg card card-block card-header">
        <app-experience [experience]="experience"></app-experience>
      </div>
    </div>
  </div>
</div>
