@import '../../styles.scss';

.full {
  width: 100%;
  height: 100%;
  margin: auto;
}
.info-box {
  height: 90px;
  padding: 2px;
  width: 100%;
}
.card {
  padding: 5px;
  background: $tertiary;
  height: 100%;
}
h5 {
  text-decoration-line: underline;
}
p {
  margin: 0;
}
.content {
  text-align: center;
}
.chart {
  height: 90%;
}