<div class="row full">
  <div #chart class="col-12 chart" id="chart"></div>
  <div class="col-12 info-box">
    <div *ngIf="selectedSkill" class="card ">
      <h5>{{selectedSkill.name}}</h5>
      <div class="row">
        <div class="col-3">
          <p>{{selectedSkill.yearsExperience}} Years Experience</p>
        </div>
        <div class="col-9" >
          <p>Skill Level </p>
          <progressbar
          [style.background-color]="'white'"
          [style.color]="'green'"
          [max]="skillService.getMax() | async"
          [value]="selectedSkill.score"
          [animate]="true"
          [type]="skillService.getType(selectedSkill.score)"
          [striped]="true">{{selectedSkill.score}}/{{skillService.getMax() | async}}</progressbar>
        </div>
      </div>
    </div>
  </div>
</div>

