@import '../../styles.scss';

.row:before,
.row:after {
  content: "";
  display: table;
}

/********************************/
/*  SECTION WORK EXPERIENCE
********************************/

.timeline {
  margin: 20px 30px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 3%;
  bottom: 0;
  width: 10px;
  background: $tertiary;
  left: 80px;
  height: 100%;
}



li {
  margin-bottom: 70px;
  position: relative;
}

.project {
  margin: 0 0 15px 210px;
  background: $tertiary;
  color: #FFF;
  padding: 30px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  font-family: 'Open Sans';
  position: relative;
  border-radius: 5px;
  min-height: 150px;
  max-width: 650px;

  h3 {
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }

  h4 {
    opacity: 0.7;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: 600;
    padding: 0;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
  }
}
.project:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: $tertiary;
  border-width: 10px;
  top: 70px;
}

.icon {
  width: 150px;
  height: 150px;
  top: 3%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 36px;
  line-height: 150px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  background: $tertiary;
  border-radius: 50%;
  text-align: center;
  left: 8%;
  margin: 0 0 0 -25px;
}

.details {
  font-size: 18px;
  margin: 0.5em 0 0;
  font-family: 'Source Sans Pro', serif;
}


@media (max-width: 1024px) {
  .timeline::before {
    left: 20px;
    top: 0;
  }
  .icon {
      width: 50px;
      height: 50px;
      top: 25%;
      speak: none;
      font-size: 22px;
      line-height: 50px;
  }
  .project {
    margin: 0px 0 15px 65px;
  }
}




