<div class="experience">
  <div class="row ">
    <div>
      <ul class="timeline">
        <li *ngFor="let project of experience.projects">
          <div class="icon">
            <fa-icon [icon]="faBriefcase"></fa-icon>
          </div>
          <div class="project">
            <h3>{{project.name}}</h3>
            <h4><i class="fa fa-flag"></i>{{project.shortDescription}}</h4>
            <p class="details">{{project.role}}</p>
            <p class="details">{{project.details}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
