$secondary: rgb(63, 160, 239);
$tertiary: rgb(31, 33, 35);
$primary: rgb(26, 116, 226);


// #324454
$white: white;
$blue: rgb(107, 208, 255);
$pink: rgba(233,33,99,1);
$black: rgb(31, 33, 35);


$primary_font: 'Comic Neue';
