<div id="leaves">
  <i><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" class="leaf" /></i>
  <i><img src="http://www.pngmart.com/files/1/Autumn-Fall-Leaves-Pictures-Collage-PNG.png" class="leaf" /></i>
  <i></i>
  <i><img src="http://www.pngmart.com/files/1/Fall-Autumn-Leaves-Transparent-PNG.png" class="leaf" /></i>
</div>
