<div class="gallery container">
  <div>
    <img class="collage" src="../../assets/images/HobbyCollage.png"/>
  </div>
  <div>
    <a [href]="photosGallery" class="btn btn-primary btn-lg"
    target="_blank" role="button" aria-pressed="true">Click here for gallery</a>
  </div>
</div>
