@import '../../styles.scss';

.gallery {
  width: 100%;
  padding: 5px;
}

.collage {
  position: relative;
  vertical-align: middle;
  border-style: none;
  height: 500px;
  width: 800px;
  margin: auto;
}
.btn {
  margin-top: 10px;
}
