@import '../../../styles.scss';

.errorMessage{
  color:red;
}
.mb-3 {
  width: 20em;
  height: 3em;
}

/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
  cursor: pointer;
  color: white;
  padding: 10px;
}
/* Arrow */
.select::after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
select option {
  width: 20em;
  margin: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}


/* Custom Range */

.range-group {
  // position: relative;
  flex: 0 0 100%;
  // height: 20px;

  .range-input {
    -webkit-appearance: none; // vendor-prefix exception
    width: 100%;

    &:focus {
      outline: 0;
    }

    // vendor prefix exceptions - must be kept seperate to work
    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      // animate: .2s;
      animation: .2s;
      background: $tertiary;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }

    &::-webkit-slider-thumb {
      z-index: 2;
      position: relative;
      // box-shadow: 0px 0px 0px #000;
      // border: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: $primary;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -7px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      // animate: .2s;
      animation: .2s;
      background: $primary;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }

    &::-moz-range-thumb {
      z-index: 2;
      position: relative;
      box-shadow: 0px 0px 0px #000;
      border: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: #3FAFFA;
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      height: 5px;
      cursor: pointer;
      // animate: .2s;
      animation: .2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower,
    &::-ms-fill-upper {
      background: #3FAFFA;
      border-radius: 1px;
      box-shadow: none;
      border: 0;
    }

    &::-ms-thumb {
      z-index: 2;
      position: relative;
      // box-shadow: 0px 0px 0px #000;
      // bordeform-controlr: 1px solid #2497e3;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: #3FAFFA;
      cursor: pointer;
    }

  }

}

/* Custom Image upload */

.profile-image {
  width: 180px;
  height: 180px;
  border-radius: 90px;
}


.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  .add-font:after {
    color: black;
  }
  .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
      input {
          display: none;
          + label {
              display: inline-block;
              width: 34px;
              height: 34px;
              line-height: 34px;
              text-align: center;
              color: black;
              margin-bottom: 0;
              border-radius: 100%;
              background: #FFFFFF;
              border: 1px solid transparent;

              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              .avatar-upload {
                position: relative;
                max-width: 205px;
                margin: 50px auto;
                .avatar-edit {
                    position: absolute;
                    right: 12px;
                    z-index: 1;
                    top: 10px;
                    input {
                        display: none;
                        + label {
                            display: inline-block;
                            width: 34px;
                            height: 34px;
                            line-height: 34px;
                            text-align: center;
                            margin-bottom: 0;
                            border-radius: 100%;
                            background: #FFFFFF;
                            border: 1px solid transparent;
                            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                            cursor: pointer;
                            font-weight: normal;
                            transition: all .2s ease-in-out;
                            &:hover {
                                background: #f1f1f1;
                                border-color: #d6d6d6;
                            }
                            &:after {
                                color: #757575;
                                position: absolute;
                                top: 10px;
                                left: 0;
                                right: 0;
                                text-align: center;
                                margin: auto;
                            }
                        }
                    }
                }
                .avatar-preview {
                    width: 192px;
                    height: 192px;
                    position: relative;
                    border-radius: 100%;
                    border: 6px solid #F8F8F8;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                    > div {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }  transition: all .2s ease-in-out;
              }
              &:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
              }
              &:after {
                  color: #757575;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  margin: auto;
              }
          }
      }
  }
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}
