<div [formGroup]="form">

  <ng-template #formTmpl let-formField="formField">
    <label [attr.for]="formField.key">{{ formField.label }}</label>

    <div [ngSwitch]="formField.controlType">
      <div class="input-group mb-3" *ngSwitchCase="'input'">
        <input class="form-control"
        [formControl]="formFieldControl()"
        [placeholder]="formField['placeholder']"
        [attr.min]="formField['min']"
        [attr.max]="formField['max']"
        [attr.pattern]="formField['pattern']"
        [id]="formField.key"
        [type]="formField['type']"
        >
      </div>
      <div class="range-group mb-3" *ngSwitchCase="'range'">
        <input class="range-input"
        [formControl]="formFieldControl()"
        [placeholder]="formField['placeholder']"
        [attr.min]="formField['min']"
        [attr.max]="formField['max']"
        [attr.pattern]="formField['pattern']"
        [id]="formField.key"
        [type]="formField['type']">
      </div>
      <div class="box" *ngSwitchCase="'dropdown'">
        <select class="select" [id]="formField.key"
          [formControl]="formFieldControl()">
          <option value=""
                  disabled
                  *ngIf="!!formField.placeholder"
                  selected>{{ formField.placeholder }}</option>
          <option *ngFor="let opt of formField['options']"
                  [value]="opt.key">{{ opt.value }}</option>
        </select>
      </div>
      <div class="input-group mb-3" *ngSwitchCase="'textarea'">
        <textarea class="form-control"
                  [formControl]="formFieldControl()"
                  [id]="formField.key"
                  [cols]="formField['cols']"
                  [rows]="formField['rows']"
                  [maxlength]="formField['maxlength']"
                  [minlength]="formField['minlength']"
                  [placeholder]="formField.placeholder"></textarea>
      </div>
      <div class="avatar-upload"  *ngSwitchCase="'image'">
        <div class="avatar-edit">
            <input (change)="fileChangeEvent($event, formField['key'])" type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label  for="imageUpload"><fa-icon [icon]="faPlus"></fa-icon></label>
        </div>
        <div class="avatar-preview">
            <img id="imagePreview" class="profile-image" [src]="formField['src']"/>
        </div>
      </div>
      <div class="form-group mb-3" *ngSwitchCase="'date'">
          <input [type]="formField['type']" class="form-control mb-3"
           [placeholder]="formField['placeholder']"
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
           [formControlName]="formField['key']"
            bsDatepicker />
      </div>
    </div>

    <div class="errorMessage"
         *ngIf="!isValid">{{ formField.label }} is required</div>

  </ng-template>

  <div *ngIf="formField.controlType === 'table'">
    <form [formGroup]="tableForm">
      <ng-container *ngFor="let field of formField['fields']" [ngTemplateOutlet]="formTmpl"
       [ngTemplateOutletContext]="{formField: field}">
      </ng-container>
    </form>
    <button class="btn" type="button" (click)="addToTable()">Add</button>
    <table class="table">
      <thead>
        <tr >
          <th *ngFor="let field of formField['fields']" scope="col">{{field.label}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of tableData">
          <td *ngFor="let data of row">{{data}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="formField.controlType !== 'table'">
    <ng-container  [ngTemplateOutlet]="formTmpl" [ngTemplateOutletContext]="{formField: formField}">
    </ng-container>
</div>

</div>



