<div [ngSwitch]="stage">
  <div *ngSwitchCase="'basic'">
    <app-dynamic-form #dynamicForm
                  [title]="'Personal Details'"
                  [formFields]="formFields"
                  (formEmitter)="basicProfile($event)"
                    ></app-dynamic-form>
  </div>
  <div *ngSwitchCase="'contact'">
    <app-dynamic-form #dynamicForm
    [title]="'Contact Details'"
      [formFields]="contactFields"
      (formEmitter)="contactDetails($event)"
        ></app-dynamic-form>
  </div>
  <div *ngSwitchCase="'skills'">
    <app-dynamic-form #dynamicForm
    [title]="'Skills'"
      [formFields]="skillsFields"
      (formEmitter)="onAddSkills($event)"
        ></app-dynamic-form>
  </div>
  <div *ngSwitchDefault>output2</div>
</div>

<div *ngIf="payLoad" class="form-row ">
  <strong>Saved the following values</strong><br>
  <pre><code>{{ payLoad | json }}</code></pre>
</div>
