
<p *ngIf="!showDescription" class="date">{{timeLineItem.dateFrom |  date: 'MMM-yyyy'}} to {{timeLineItem.dateTo |  date: 'MMM-yyyy'}}</p>
<img class="logo" [src]="timeLineItem.image"/>
<div [ngClass]="showDescription ? 'descrition': 'paragraph'">
    <p>{{timeLineItem.position}}</p>
    <p *ngIf="showDescription">{{timeLineItem.description}}</p>
</div>
