.date {
  font-size: 13px;
  line-height: 15px;
  margin: 5px 0;
}
.logo {
  height: 30px;
  max-width: 160px;
}
.paragraph {
  height: 50px;
  width: 165px;
  font-size: 17px;
}


.descrition {
  font-size: 17px;
}
