#gx {
  background-size:contain;
  padding:10% 0;
  text-align:center;
  width:95%;
  height: 95%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0,0,0,0.5);

}
.gear-icon {
  width: 10vw;
  height: 10vh;
  fill: #31eefd;
  position: unset;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gx-logo {
  animation:tronFilter 12s infinite;
  border-radius:20px;
  fill:#000000;
  stroke:#666;
  stroke-width:5;
  stroke-linecap:round;
  stroke-linejoin:bevel;
}


@keyframes tronFilter {
    0% {-webkit-filter: drop-shadow( -.75px 0px 6px #31eefd );
                filter: drop-shadow( -.75px 0px 6px #31eefd ); stroke:#31eefd;}
   22% {-webkit-filter: drop-shadow( -.75px 0px 6px #1d85bb );
                filter: drop-shadow( -.75px 0px 6px #1d85bb ); stroke:#1d85bb;} /* end blue */

   42% {-webkit-filter: drop-shadow( -.75px 0px 6px #884173 );
                filter: drop-shadow( -.75px 0px 6px #884173 ); stroke:#884173;}
   62% {-webkit-filter: drop-shadow( -.75px 0px 6px #ff0071 );
                filter: drop-shadow( -.75px 0px 6px #ff0071 ); stroke:#ff0071;} /* end magenta */
   82% {-webkit-filter: drop-shadow( -.75px 0px 6px #009997 );
                filter: drop-shadow( -.75px 0px 6px #009997 ); stroke:#009997;}
   92% {-webkit-filter: drop-shadow( -.75px 0px 6px #92ffd7 );
                filter: drop-shadow( -.75px 0px 6px #92ffd7 ); stroke:#92ffd7;} /* end green */
  100% {-webkit-filter: drop-shadow( -.75px 0px 6px #31eefd );
                filter: drop-shadow( -.75px 0px 6px #31eefd ); stroke:#31eefd;}
}

.spin {
  -webkit-animation: rotation 1800ms infinite linear;
  -moz-animation: rotation 1800ms infinite linear;
  -o-animation: rotation 1800ms infinite linear;
  animation: rotation 1800ms infinite linear;
}
@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
  }
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to   {-moz-transform: rotate(360deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to   {transform: rotate(360deg);}
}