<div class="home">
  <div class="row personal">
    <div class="col-6">
      <img *ngIf="profile && profile.image" class="profile-image" [src]="profile.image"/>
      <img *ngIf="!profile || !profile.image" class="profile-image" src="../../assets/images/profile.png"/>
    </div>
    <div class="col-6 occupation" >
      <h6 *ngIf="profile && profile.occupation">{{profile.occupation}}</h6>
      <h6 *ngIf="!profile || !profile.occupation">Occupation</h6>
    </div>
    <h3 class="col-12" *ngIf="profile && profile.firstName">{{profile.firstName}} {{profile.lastName}}</h3>
    <h3 class="col-12" *ngIf="!profile || !profile.firstName">Name Surname</h3>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-6">
      <p *ngIf="profile && profile.phoneNumber"><fa-icon [icon]="faPhone"></fa-icon> {{profile.phoneNumber}}</p>
      <p *ngIf="!profile || !profile.phoneNumber"><fa-icon [icon]="faPhone"></fa-icon> How does this human not have a phone number?</p>
      <p *ngIf="profile && profile.emailAddress"><fa-icon [icon]="faEnvelope"></fa-icon> {{profile.emailAddress}}</p>
      <p *ngIf="!profile || !profile.emailAddress"><fa-icon [icon]="faEnvelope"></fa-icon> No Email, Is this even possible?</p>
      <p *ngIf="!profile || !profile.linkeden"><fa-icon [icon]="faLinkedin"></fa-icon> Be proffesional, create a linkeden account?</p>
      <p *ngIf="profile && profile.address">
          <fa-icon [icon]="faAddressBook"></fa-icon>
          {{profile.address.streetName}},
          {{profile.address.suburb}},
          {{profile.address.city}},
          {{profile.address.country}}
      </p>
      <p *ngIf="!profile || !profile.address"><fa-icon [icon]="faAddressBook"></fa-icon> We not going to spy on you!</p>
    </div>
    <div *ngIf="profile && profile.education" class="col-6 education">
      <app-education [educationList]="profile.education"></app-education>
    </div>
  </div>
  <div class="space"></div>
  <div class="row message">
      <p *ngIf="profile && profile.aboutMe">{{profile.aboutMe}}</p>
      <p *ngIf="!profile || !profile.aboutMe">There has to be something, come on think a bit.
        Use that beautiful brain of yours and give me something </p>
     <button  (click)="goToAboutMe()" class="btn">You want to know more about me?</button>
  </div>
  <div class="space"></div>
  <div *ngIf="profile && profile.skills"  class="row skills">
    <p class="tag" [ngStyle]="{'background-color': selectedColors[i]}" *ngFor="let skill of profile.skills | slice:0:5; let i = index">{{skill}}</p>
    <p  *ngIf="!profile || !profile.skills ">How can you not have any skills</p>
    <button (click)="goSkills()" class="btn">Click here, I will break down my skills!</button>
  </div>
  <div class="space"></div>
  <div  *ngIf="profile && profile.experience" class="row experience">
    <img [src]="experience" class="image-tag" *ngFor="let experience of profile.experience"/>
    <p class="col-12" *ngIf="!profile || !profile.experience">Are you a Grad, Lazy or Both?</p>
    <div class="col-12">
      <button class="btn" (click)="goToExperience()" >More details on where I worked?</button>
    </div>
  </div>
</div>
