@import '../../styles.scss';

.profile-image {
  width: 150px;
  height: 140px;
}
.col-6 {
  padding: 0;
}

.home {
  background-color: $secondary;
  color: $white;
  height: 95vh;
  padding: 10px;
  margin: 10px;
}
.space {
  height: 5px;
  border-bottom: solid 1px $white;
  margin-bottom: 5px;
}
p {
  font-size: 12px;
}
pre {
  color: $white;
}
.occupation {
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  background: #1f2123;
  padding: 20px 5px;
}
.personal {
  text-align: center;
  height: 170px;
}
.education {
  border-left: solid 1px white;
}
.btn {
  font-size: 14px;
  margin: auto;
  width: fit-content;
  white-space: normal;
}
.row {
  margin: 0;
}

.message {
  background: #1f2123;
  margin: 1px;
  padding: 5px 10px;
  text-align: center;
}

.skills {
  text-align: center;
  padding: 10px 10px;
  background: $tertiary;
  margin: 1px;
}
.tag {
  border-radius: 5px;
  margin: 5px 3px;
  padding: 2px 5px;
}

.experience {
  text-align: center;
  padding: 6px 6px;
  margin: 1px;
  background: $tertiary;
}
.image-tag {
  border-radius: 5px;
  margin: 5px 3px;
  padding: 2px 4px;
  height: 26px;
}
