@import '../../styles.scss';

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  color: #000;
  display: block;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size:14px;
}
li a:hover {
  text-decoration: underline;
}
.grid{
  height:23px;
  position:relative;
  bottom:4px;
}
.signbutton{
  background-color: #4885ed;
  color: #fff;
  border:none;
  border-radius:3px;
  padding:7px 10px;
  position:relative;
  bottom:7px;
  font-weight:bold;
}
.logo{
  margin-top:30px;
  margin-bottom:20px;
}
.logo-img {
  width: 272px;
  height: 92px;
  margin: auto;
}
.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;

}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:10px;
}
.buttons{
  margin: 30px auto 5px;
  width: 560px;
}
.button{
  background-color: #f5f5f5;
  border:none;
  color:#707070;
  font-size:15px;
  margin: 30px auto 5px;
  margin:5px;
  border-radius:4px;
  outline:none;

}
.google-item {
  transform: translate(0px, 0px);
  img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
}
.google-item:hover {
  cursor: pointer;
  transform: scale(1.25);
  background: #FFF;
  color: #000;
}
.more-info {
  height: 100px;
}
.example {
  background-color: black;
  color: white;
  margin: 5px 10px;
  width: 100px;
  height: 80px;

  img {
    height: 50px;
    width: 70px;
  }
  h6 {
    font-size: 10px;
  }
}

.example-row {
  display: flex;
  width: 100%;
  overflow-x: auto;
  height: 100px;
}
.example-row::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
  background-color: $secondary;
  direction: rtl;
}

.example-row::-webkit-scrollbar
{
	width: 12px;
  background-color: $secondary;
  direction: rtl;
}

.example-row::-webkit-scrollbar-thumb
{
  direction: rtl;
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
