<header>
    <ul>
      <li><a class="links"><button class="signbutton" type="button">Sign in</button></a></li>
        <li><a><img class="grid" src="https://cdn3.iconfinder.com/data/icons/navigation-and-settings/24/Material_icons-01-11-512.png" title="Google apps"></a></li>
      <li><a >Images</a></li>
      <li><a >Gmail</a></li>
      </ul>
</header>
<div class="logo">
  <carousel>
    <slide *ngFor="let image of googleImages">
      <img class="logo-img" alt="Google"[src]="image" alt="first slide">
    </slide>
  </carousel>
</div>
<div class="bar">
  <input class="searchbar" type="text" title="Search">
  <a > <img class="voice" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png" title="Search by Voice"></a>
</div>
<div *ngIf="googleItems" class="row buttons">
  <div class="col-3 google-item" *ngFor="let googleItem of googleItems" >
    <div (mouseover)="showMoreInfo(googleItem.id)" (mouseout)="shouldShowMoreInfo=false" class="grid-tile" draggable="true">
      <img  [src]="googleItem.image"/>
      <p>{{googleItem.name}}</p>
    </div>
  </div>
  <div class="col-12 more-info">
    <div class="example-row" *ngIf="selectedGoogleItem">
      <div class="example" *ngFor="let example of selectedGoogleItem.googleExamples">
        <img [src]="example.image"/>
        <h6>{{example.name}}</h6>
      </div>
    </div>
  </div>
</div>
