@import '../../../styles.scss';

.login {
  text-align: center;
  width: 400px;
  margin-top: 150px;
  z-index: 4;
}
.google {
  background-color: #db3236;
  color: $white;
}
i {
  color: $white;
  margin: 0 10px;
}
tab {
  padding: 20px;
}
p {
  margin-bottom: 5px
}
.logo-big {
  height: 70px;
}
.logo-small {
  height: 30px;
}

