<div class="panel"></div>
<div class="container card login">
    <h3>Login to Admin Area</h3>
    <hr>
    <button class="btn google" (click)="loginWithGoogle()">
        <i class="fab fa-google"></i>
        <span>Login with Google</span>
    </button>
</div>
