<div class="panel"></div>
<div class="container card form-class">
  <h2>{{title}}</h2>
  <form (ngSubmit)="onSubmit()"[formGroup]="form" class="row">
    <div *ngFor="let formField of formFields" class="form-row col-6">
      <app-form-field class="field" [formField]="formField" [form]="form"></app-form-field>
    </div>
    <div class="form-row col-12 button-group">
      <button class="btn" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
</div>
