/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/scss/fonts.scss';
@import 'assets/css/variables.scss';

$primary_font: 'Comic Neue';


body, html {
  font-family: $primary_font;
  color: $white;
}
button {
  background-color: $primary;
  color: $white;
}
.emoji {
  width: 3em;
  height: 2em;
}
.container {
  position: relative;
  height: 100%;
  padding: 20px;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: rgba($tertiary,0.4);
}
.background {
  background: url(~/assets/images/176949.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding: 20px 40px 20px;
}
.panel {
  display:block;
  height:278px;
  background-color: $secondary;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
