@import '../../assets/css/variables.scss';
h3 {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.menu {
  height: 100vh;
  padding: 5px;
}
.content {
  height: 100vh;
  padding: 0;
}
.row {
  margin: 0;
  padding: 0;
}
.home {
 background-color: $tertiary;
}