<div class="row home">
  <div class="col-12 col-md-3 col-sm-12 menu">
    <app-loading *ngIf="loading"></app-loading>
    <app-personal-details [profile]="profile"></app-personal-details>
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)" class="col-12 col-md-9 col-sm-12 content">
    <router-outlet  #outlet="outlet"></router-outlet>
  </div>
</div>
