@import '../../styles.scss';

.background {
  background: url(../../assets/images/176957.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  height: 100vh;
  padding: 10px 40px;
}
.about-me {
  text-align: center;
}
.pokemon-list {
  display: flex;
}
.pokemon {
  border: solid 1px $white;
}
.pokemon-name {
  font-size: 20px;
  color: $pink;
}
.pokemon-image {
  width:100%;
}
.google-image {
  height: 100px;
}
.google {
  background-color: $white;
  color: $black;
  margin-bottom: 10px;
}
.google-item {
  text-align: left;
}
.google-list {
  padding: 20px;

}
.google-item-image {
  height: 70px;
  width: 70px;
}
.vl {
  border-right: solid 1px $black;
  border-left: solid 1px $black;
}
.profile-image {
  width: 250px;
  height: 250px;
  border-radius: 125px;

}
.profile {
  text-align: left;
  margin-bottom: 10px;
}
.message {
  display: table;
  height: 250px;
  font-style: italic;
  font-size: 28px;
  p {
    display: table-cell;
    vertical-align: middle;
  }
}
.card {
  margin: 5px;
  background-color: $tertiary;
  height: 200px;

  p {
    margin: 0;
  }
}
.btn {
  position: absolute;
  bottom: 5px;
  margin: auto;
  width: 80%;
  left: 0;
  right: 0;
}
.topic {
  width: 100%;
}

.more {
  display: inline-table;
  margin: 20px;
  height: 300px;
}
.table-cell {
  display: table-cell;
  background-color: $secondary;
  vertical-align: middle;
  padding: 10px;
}
