<div class="about-me background">
  <app-loading *ngIf="loading"></app-loading>
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <p><strong>Knowledge</strong>, I have a passion for just learning about everything.
              This is what I google:</p>
          </div>
          <button class="btn" (click)="changeTopic('knowledge')">Show More</button>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <p><strong>My Hobbies</strong>, You want to see what I do for fun?</p>
          </div>
          <button class="btn" (click)="changeTopic('hobbies')">Show More</button>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <p>I know one question you are dying to ask,
              which 6 Pokemon would he carry with him?
            </p>
          </div>
          <button class="btn" (click)="changeTopic('pokemon')">Show More</button>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="card-header">
            <p>Still want to know more</p>
          </div>
          <button class="btn" (click)="changeTopic('more')">Show More</button>
        </div>

      </div>
    </div>
    <div class="row ">
      <div [ngSwitch]="selectedTopic" class="topic">
        <div *ngSwitchCase="'knowledge'" class="google">
          <app-google *ngIf="profile && profile.googleItems" [googleItems]="profile.googleItems"></app-google>
        </div>
        <div *ngSwitchCase="'hobbies'">
          <app-gallery></app-gallery>
        </div>
        <div *ngSwitchCase="'pokemon'">
          <app-pokemon [pokemonList]="profile.favouritePokemon"></app-pokemon>
        </div>
        <div *ngSwitchCase="'more'" class="more">
          <div class="table-cell">
            <h4>You can't possibly want to know more!</h4>
            <h3>If you want to know more you have to Date me or Hire Me</h3>
          </div>
        </div>
        <div *ngSwitchDefault></div>
      </div>
    </div>
</div>
